body {
    background-color: #f8f8f8;
}

h1 {
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
}

.short_description {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}

.description {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.img_cat {
    display: block;
}

input[type=email] {
    width: 200px;
    height: 30px;
}

input[type=email]:focus {
    width: 200px;
    height: 30px;
    color: red;
    background-color: aqua;
}

input[type=text] {
    text-transform: capitalize;
    width: 200px;
    height: 30px;
}

input {
    color: black;
    font-size: 14px;
}

ul {
    list-style-image: url(../img/faq_list5_2.png);
}

a:link:hover {
    color: blue;
}

a:visited:hover {
    color: red;
}

.txt:first-letter {
}

.header  {
    background-color: #2118FF;
    margin: 10px;
    height: 400px;
}

.content  {
    background-color: #E1E0E1;
    height: 400px;
}

.footer {
    display: block;
    text-align: right;
    background-color: white;
    bottom: 0;
    width: 100%;
    height: 40px;
}

.footer_child {
    padding: 10px; /* Поля вокруг текста */
    margin: 10px; /* Отступы вокруг */
}

.img_header {
    margin-left: 10px;
}

ul {
    display: flex;
}